<%- include('../partials/header.ejs') %>

<h1>Mostramos un sólo producto</h1>

<h3><%=producto.name  %></h3>
<img src="/images/products/<%=producto.image%>" alt="">
<p><%=producto.decription%></p>
<p><%=producto.size%></p>
<p><%=producto.price%></p>